* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
}

.banner {
    background: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px 150px 0px;
    justify-content: space-between;
    gap: 90px;
    height: 800px;
    position: static;

}

.banner .banner-pic {
    height: 800px;
    width: 500px;
    flex-shrink: 0;

}

.title {
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    text-align: left;

}

.title-para {
    text-align: left;
    color: gray;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px 20px;
}

.btn-primary {
    background: #E55473;
    padding: 20px 40px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    border-color: none;
    border: 0px;
    margin-top: 5px;
}

.fuatured-flower .section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;

}

.section-content {
    font-size: 18px;
    font-weight: 400;
    color: gray;
    text-align: center;
}

.flower-pic {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    margin-bottom: 20px;
}

.pic-1 {
    height: 430px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 20px 5px 0px 5px;
    flex-shrink: 0px;

}

.pic-2 {
    height: 430px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 20px 5px 0px 5px;
    flex-shrink: 0px;
}

.pic-3 {
    height: 430px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 20px 5px 0px 5px;
    image-orientation: flip;
}

.flower-tag {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-bottom: 20px;

}