* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
}
 
/* banner section */

.banner {
    background: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px 150px 0px;
    justify-content: space-between;
    gap: 90px;
    height: 800px;
    position: static;
    flex-shrink: 0px;
}

.banner .banner-pic {
    height: 800px;
    width: 500px;
    flex-shrink: 0;
}

.title {
    color: #272727;
    font-size: 50px;
    font-weight: 1000;
    text-align: left;
}

.title-para {
    text-align: left;
    color: gray;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0px 20px;
}

.btn-primary {
    background: #E55473;
    padding: 15px 30px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    border-color: none;
    border: 0px;
    margin-top: 5px;
}

Fl
.featured-flower .section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;

}

.section-content {
    font-size: 18px;
    font-weight: 400;
    color: gray;
    text-align: center;
}

.flower-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    margin-bottom: 20px;
}

.pic-1 {
    height: 430px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 20px 5px 0px 5px;

}

.pic-2 {
    height: 430px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 20px 5px 0px 5px;
}

.pic-3 {
    height: 430px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 20px 5px 0px 5px;
}

.flower-tag {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 20px;
}

/* clip-art section */

.clip-art-section {
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    width: 985px;
    height: 120px;
    position: center;
    margin: 100px 150px;
    padding: 50px 0px;

}

.clip-art-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    padding: 5px 80px;
}

.art-tag {
    display: flex;
    gap: 80px;
    padding: 15px 100px;
}

.hot-deal {
    background: rgba(229, 84, 115, 0.05);
    height: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 100px 200px;
    gap: 90px;
}

.hot-pic {

    width: 318px;
    height: 420px;
    flex-shrink: 0;
}

.hot-deal-info {
    text-align: center;
    justify-content: center;
}

.hot-para {
    margin: 30px 0px;
    text-align: center;
}

span {
    color: #E55473;
}

.instagram {
    margin: 80px 100px 20px 100px;
    padding: 20px;

}

.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 20px;
}

.instagram {
    margin: 30px 30px;
    text-align: center;
}

.flowers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin-top: 30px;
}

.latest-deal {
    background: url('../back.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* width: 1440px; */
    height: 450px;
    /* padding: 60px 30px 60px 30px; */
}

.deal-title {
    padding: 80px 0px 20px 0px;
}

.sub-btn {
    padding-top: 30px;
    height: 40px;
}

.footer {
    text-align: center;
    background-color: #111010;
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 100px;
    margin-top: 100px;
}

.footer-para {
    color: rgba(255, 255, 255, 0.90);
    padding: 30px;
}

.footer-title {
    font-size: 50px;
    color: white;
    font-weight: 800px;
}

.footer-rights {
    color: rgba(255, 255, 255, 0.40);
    font font-weight: 400px;
    font-size: 16px;
}